@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: #25272c;
}

::-webkit-scrollbar-thumb {
  border: 4px solid #25272c;
  border-radius: 7px;
  background: #6c7078;
  background-clip: content-box;
}

::placeholder {
  opacity: 0.4;
  color: #ffffff;
}

::marker {
  color: rgb(212, 212, 212) !important;
}

html {
  background-color: #262626;
}

.fade-enter {
  opacity: 0;
  transform: translateY(50px);
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.15s, transform 0.15s;
  transform: translateY(0);
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  /*transform: translateY(-500px);*/
  transition: opacity 0.15s, transform 0.15s;
}

/*@keyframes slideInFromDown {*/
/*  0% {*/
/*    transform: translateY(100%);*/
/*  }*/
/*  100% {*/
/*    transform: translateY(0);*/
/*  }*/
/*}*/

/*.fade-in {*/
/*  animation: 0.4s ease-out 0s 1 slideInFromDown;*/
/*}*/